[submodule "vendor/github.com/edgexfoundry/device-sdk-go"]
	path = vendor/github.com/edgexfoundry/device-sdk-go
	url = http://gitlab.jiangxingai.com/applications/edgex/device-sdk-go.git
	branch = edinburgh
[submodule "vendor/github.com/edgexfoundry/go-mod-core-contracts"]
	path = vendor/github.com/edgexfoundry/go-mod-core-contracts
	url = http://gitlab.jiangxingai.com/applications/edgex/go-mod-core-contracts
[submodule "vendor/github.com/edgexfoundry/go-mod-registry"]
	path = vendor/github.com/edgexfoundry/go-mod-registry
	url = http://gitlab.jiangxingai.com/applications/edgex/go-mod-registry
